{% extends 'partials/base.html.twig' %}

{% block content %}

<main id="page-blog">

  <section class="blog-sidebar">
    <ul class="side-libraries">
      {% for p in taxonomy.findTaxonomy({'category':'topLevel'}) %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
    </ul>

    {% include 'partials/archives.html.twig' %}

  </section>

  {% for p in page.children %}

  <section class="blog-post">
    <span class="blog-meta">{{ p.date|nicetime(true) }} - <a href="#">{{ p.parent.url }}</a></span>
    <a href="{{ p.url }}" class="blog-item">
      <h2>{{ p.title }}</h2>
      <p>
      {{ p.summary }}
      </p>
    </a>
  </section>

  {% endfor %}

</main>

{% endblock %}
