{% extends 'partials/base.html.twig' %}

{% block content %}

<main id="page-single-item">

  <div class="title-hero">
    <img src="{{base_url}}/{{ header.custom.hero|first.path }}" alt="{{ page.title }}">
  </div>
  <div class="title-text">
    <h2>{{ page.title }}</h2>
    {% if header.custom.subtitle %}
    <h3>{{ header.custom.subtitle }}</h3>
    {% endif %}
  </div>

  <section class="item-body">
    <aside class="item-meta">
      <ul>
        <li>Filed under <a href="{{ page.parent.url }}">{{ page.parent.title }}</a></li>
        <li>Posted {{ page.date|nicetime(true) }}</li>
      </ul>
    </aside>

    <article>

      {{ page.content }}

      <section class="item-images">
        {% for image in page.media.images %}
          <a class="popup-image" href="{{ image.url }}">
            <img src="{{ image.url }}" alt="{{ page.title }} Screenshot">
          </a>
        {% endfor %}
      </section>

    </article>
  </section>

</main>

{% endblock %}
